.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #4caf50;
  padding: 10px 15px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.prev,
.next {
  border: none;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.paginationItem.active {
  border: 1px solid #888;
  opacity: 0.9;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
