.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 245, 250);
}

.form-login {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;

  > h1 {
    text-align: center;
    font-size: 3rem;
  }
}

.label-login {
  font-size: 1.6rem;
}

.input-login {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn-login {
  background: rgb(44, 52, 59);

  &:hover {
    background: rgba(44, 52, 59, 0.8);
  }
}

#username,
#password {
  font-size: 2rem;
  padding: 0.5rem;
}
