@use "../../../assets/sass/main.scss";
@use "../../../assets/sass/variables" as *;

.main-layout {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.page {
  background-color: $background-color-page;
  margin-top: 64px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  max-height: 85%;
  width: 95%;
  background: white;
  border-radius: 7.2px;
  padding: 2rem;
  position: relative;
}

.align-center {
  align-items: center;
}

//fires as element enters the DOM
.next-enter {
  opacity: 0;
}

//we add transition here (transition when the page is active)
.next-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

// fires before the element leaves the DOM (like standby mode)
.next-exit {
  display: none;
}

// fires as element leaves the DOM
.next-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(94, 94, 95, 0.4);
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../assets/images/login-background-white.png") no-repeat
    center;
  background-size: cover;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.title {
  letter-spacing: 0.2px;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
}

.choose-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color-page;
  gap: 1rem;
}
