@use "../../../assets/sass/main.scss";
@use "../../../assets/sass/variables" as *;

.main-layout {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.page {
  background-color: $background-color-page;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
