@use "../../../assets/sass/variables" as *;

.formt {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-areas:
    "fromname fromacct "
    "toname toacct"
    "date amount"
    " . submitt";

  gap: 3rem;
}
.fromdivname {
  grid-area: fromname;
}

.todivname {
  grid-area: toname;
}

.fromacct {
  grid-area: fromacct;
}

.toacct {
  grid-area: toacct;
}

.divdate {
  grid-area: date;
}

.divamount {
  grid-area: amount;
}

.submitt {
  grid-area: submitt;
  justify-self: flex-end;
  color: white;
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;

  &:hover {
    opacity: 0.9;
  }
}

.field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;

  & + p {
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.label {
  font-size: 1.5rem;
}
