.formd {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    "nname acct date"
    "divbal . ."
    "submitd . .";

  justify-items: stretch;
  gap: 3rem;
}
.divname {
  grid-area: nname;
}

.divdate {
  grid-area: date;
}

.acct {
  grid-area: acct;
}

.divbal {
  grid-area: divbal;
}

.submitd {
  grid-area: submitd;
  background-color: #4caf50;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4caf50 0 -3px 0 inset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.submitd:focus {
  box-shadow: #29ffc6, 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #29ffc6, 0 -3px 0 inset;
}

.submitd:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #29ffc6, 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submitd:active {
  box-shadow: #29ffc6, 0 3px 7px inset;
  transform: translateY(2px);
}

.form-fields {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
