.page {
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 64px;
  overflow-y: auto;
  width: 100%;
  font-size: 2rem;
  .statement {
    border-collapse: collapse;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    font-size: 2rem;
    margin: auto;

    th {
      padding: 2px 60px;
      background-color: #04aa6d;
      border: 1px solid #ddd;
      color: white;
    }

    tbody {
      overflow-y: scroll;

      td {
        border: 1px solid #ddd;
        padding: 2px 60px;
        text-align: center;
      }

      tr:hover {
        background-color: #b0ebd5;
      }
    }
  }
  h1 {
    width: 80vw;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }
  .buttonu {
    position: relative;
    top: 5vh;
    align-items: center;
    appearance: none;
    background-color: #4caf50;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4caf50 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .buttonu:focus {
    box-shadow: #29ffc6, 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #29ffc6, 0 -3px 0 inset;
  }

  .buttonu:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #29ffc6, 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .buttonu:active {
    box-shadow: #29ffc6, 0 3px 7px inset;
    transform: translateY(2px);
  }
}
