/* Popup style */
.popupBox {
  position: fixed;
  margin-top: 64px;
  background: #00000050;
  width: 125%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box {
  background: #fff;
  border-radius: 5px;
  padding: 1rem 1.2rem;

  font-size: 1.5rem;
}
