@use "../../../assets/sass/variables" as *;

.form {
  position: absolute;
  height: 50vh;
  width: 25vw;
  top: 10vh;
  left: 5vw;
  display: block;
  font-size: 1rem;
  padding: 2rem;
  justify-items: center;
  overflow-y: scroll;
  background-color: black;
}
.submit {
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
  float: right;
  position: relative;
  top: 5vh;
}
.add {
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
  float: left;
  position: relative;
  top: 5vh;
}
.delete {
  display: inline-block;
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.field {
  width: 15rem;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
}
.fieldcost {
  width: 10rem;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
}
.label {
  font-size: 1.5rem;
}

.total {
  color: white;
  position: relative;
  left: 5vw;
  display: inline;
  font-size: 2rem;
}
.amountsum {
  color: white;
  display: inline;
  position: relative;
  left: 10vw;
  font-size: 2rem;
}
.expensesheading {
  color: white;
  display: flex;
  justify-content: center;
}

.hellow {
  background-color: black;
  color: white;
}
