.nav-sidebar {
  display: flex;
  flex-direction: column;
  background: rgb(44, 52, 59);
  font-size: 2rem;
  height: 100%;
  gap: 2.4rem;
  padding: 2rem 1.4rem;
  flex: 1 0 10%;
  color: white;
}

.nav-links-sidebar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 2.6rem;
}

a {
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.inactive {
  color: white;
}
