.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2rem;
  height: 64px;
  display: flex;
  align-items: center;
}

.nav-elements {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  height: 100%;
  cursor: pointer;
  color: #6b6f82;
}
