.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 2.8rem;
}

.nav-elements {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  height: 100%;
  cursor: pointer;
  color: #6b6f82;
  gap: 3rem;

  #sign-out-btn {
    cursor: pointer;
  }
}
