@use "../../../assets/sass/variables" as *;

.form {
  font-size: 2rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-areas:
    "nname email age"
    "address address address"
    "acct date divbal"
    ". . submit";
  justify-items: center;
  justify-items: stretch;
  gap: 3rem;
}
.divname {
  grid-area: nname;
}

.divemail {
  grid-area: email;
}

.divage {
  grid-area: age;
}

.divaddr {
  grid-area: address;
}

.divdate {
  grid-area: date;
}

.acct {
  grid-area: acct;
}

.divbal {
  grid-area: divbal;
}
.submit {
  grid-area: submit;
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.4rem;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
  color: white;
  justify-self: flex-end;
}

.field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  & + p {
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.label {
  font-size: 1.5rem;
}
