.nav-sidebar {
  display: flex;
  flex-direction: column;
  background: yellow;
  font-size: 2rem;
  height: 100%;
  gap: 2rem;
  padding: 2rem 1.4rem;
  flex: 1 0 10%;
}

.nav-links-sidebar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 3rem;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.active {
  color: red;
  background: rgba(0, 0, 0, 0.1);
}

.inactive {
  color: black;
}
