@use "../../assets/sass/variables" as *;

.navSidebar {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;

  height: 100%;
  gap: 2.4rem;
  padding: 2rem 1.5rem;
  flex: 1 0 auto;
  color: white;

  i {
    color: $secondary-color;
    margin-right: 3px;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.sideBarLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 2.6rem;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.inactive {
  color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 1rem;

  > img {
    height: 36px;
    width: 36px;
    border-radius: 50px;
  }

  > p {
    font-size: 2.8rem;
  }
}
