@use "../../../assets/sass/variables" as *;

.searchContainer {
  margin: 0 auto;

  label {
    font-size: 1.5rem;
  }

  & + div {
    overflow-y: auto;
    height: 800px;
  }
}

.balanceTable {
  border-collapse: collapse;
  font-size: 2rem;
  width: 100%;
  text-align: center;

  a {
    color: $secondary-color;
  }

  a:hover {
    color: blue;
  }

  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  th,
  td {
    padding: 8px 16px;
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.actionButton {
  background-color: $secondary-color;
  color: white;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 0.5em 0.6em;
  font-size: 1.8rem;
  letter-spacing: 1px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

.input {
  padding: 0.1rem 0.3rem;

  &:focus {
    outline-color: rgb(30, 159, 242);
  }
}

.pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  .active {
    border: 1px solid #888;
    opacity: 0.9;
    pointer-events: none;
  }

  > button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }

  > button:disabled {
    color: #999;
    cursor: default;
  }

  > button:hover {
    opacity: 0.9;
  }
}
