@use "../../../assets/sass/variables" as *;

.mainContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  text-align: center;
  margin-bottom: 3rem;

  i,
  h1 {
    color: $secondary-color;
  }

  i {
    font-size: 16rem;
  }

  h1 {
    font-size: 4.8rem;
  }
}

.detailsContainer {
  border: double $secondary-color 3px;
  border-radius: 5px;
  width: 100%;
  padding: 0.4rem 0.8rem;
  color: $primary-color;

  > p > span:first-of-type {
    color: gray;
  }

  > p > span:last-of-type {
    font-weight: 500;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
  }
}

.transactionDetail {
  margin-bottom: 3rem;
  font-size: 2rem;
  border: solid $secondary-color 2px;
  border-radius: 5px;

  p > span:first-of-type {
    color: gray;
  }

  p > span:last-of-type {
    font-weight: 500;
  }
}

.transferContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  > i {
    font-size: 8rem;
    color: $secondary-color;
  }
}

.Detail {
  border: double $secondary-color 1px;
  border-radius: 5px;
  font-size: 1.7rem;
  padding: 0.8rem 1.2rem;

  p {
    display: flex;
    justify-content: space-between;
  }

  p > span:first-child {
    color: gray;
    margin-right: 1rem;
  }

  p > span:last-of-type {
    font-weight: 500;
  }
}
