.statement {
  border-collapse: collapse;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  font-size: 2rem;
  margin: auto;

  th {
    padding: 2px 60px;
    background-color: #04aa6d;
    border: 1px solid #ddd;
    color: white;
  }

  tbody {
    overflow-y: scroll;

    td {
      border: 1px solid #ddd;
      padding: 2px 60px;
      text-align: center;
    }

    tr:hover {
      background-color: #b0ebd5;
    }
  }

  h1 {
    width: 80vw;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
  }
}
