@use "../../../assets/sass/variables" as *;

.statement {
  border-collapse: collapse;
  font-size: 2rem;
  width: 100%;
  text-align: center;

  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  th,
  td {
    padding: 0.8rem 1.6rem;
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.removeAccountBtn {
  align-self: flex-end;
  border-radius: 2.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 0;
  background-color: $secondary-color;
  color: white;
  margin-bottom: 1rem;

  &:hover {
    opacity: 0.9;
  }
}

.pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  .active {
    border: 1px solid #888;
    opacity: 0.9;
    pointer-events: none;
  }

  > button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }

  > button:disabled {
    color: #999;
    cursor: default;
  }

  > button:hover {
    opacity: 0.9;
  }
}

.detailsContainer {
  margin: 0 auto;
  border: solid $secondary-color 2px;
  border-radius: 5px;
  padding: 0.6rem 1rem;

  p {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }

  p > span:first-of-type {
    color: gray;
    margin-right: 3rem;
  }

  p > span:last-of-type {
    font-weight: 500;

    text-align: right;
  }

  > button i {
    margin-right: 0.8rem;
  }

  > button:hover {
    opacity: 0.9;
  }
}

.title {
  text-align: center;
  font-size: 2.4rem;

  &.margin {
    margin: 1.5rem 0;
  }

  & + div {
    overflow-y: auto;
    height: 500px;
  }
}

.popupContainer {
  display: flex;
  flex-direction: column;

  > .popupHeader {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    margin-right: 3rem;
  }

  .inputPassword {
    padding: 0.5rem 0.8rem;
    font-size: 1.4rem;
    margin-right: 2rem;
    width: 100%;
  }

  .inputContainer {
    margin-bottom: 1.6rem;
  }

  .inputContainer span {
    color: red;
    font-weight: 500;
  }
}

.confirmBtn {
  border: 0;
  background-color: $secondary-color;
  color: white;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.4rem;
  width: 150px;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.closeIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: auto;

  &:hover {
    opacity: 0.9;
    border: 1px solid #999;
    background: #ededed;
  }
}
