@use "../../../assets/sass/variables" as *;

.statement {
  border-collapse: collapse;
  font-size: 2rem;
  width: 100%;
  text-align: center;

  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  th,
  td {
    padding: 0.8rem 1.6rem;
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  .active {
    border: 1px solid #888;
    opacity: 0.9;
    pointer-events: none;
  }

  > button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }

  > button:disabled {
    color: #999;
    cursor: default;
  }

  > button:hover {
    opacity: 0.9;
  }
}

.detailsContainer {
  margin: 0 auto;
  border: solid $secondary-color 2px;

  border-radius: 5px;
  padding: 0.6rem 1rem;

  & + div {
    overflow-y: auto;
    height: 500px;
  }

  h1 {
    text-align: center;
    font-size: 2.4rem;
  }

  p {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }

  p > span:first-of-type {
    color: gray;
  }

  p > span:last-of-type {
    font-weight: 500;
    width: 80%;
    text-align: right;
  }
}
