@use "../../../assets/sass/variables" as *;

.formd {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    "nname acct "
    " date divbal"
    " . submitd";
  gap: 3rem;
  padding: 2rem;
}
.divname {
  grid-area: nname;
}

.divdate {
  grid-area: date;
}

.acct {
  grid-area: acct;
}

.divbal {
  grid-area: divbal;
}

.submitd {
  grid-area: submitd;
  color: white;
  justify-self: flex-end;
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.4rem;
  font-size: 18px;

  &:hover {
    opacity: 0.9;
  }
}

.field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
}

.label {
  font-size: 1.5rem;
}
