@use "../../../assets/sass/variables" as *;

.formd {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    "nname acct "
    " date divbal"
    " . submitd";
  gap: 3rem;
  padding: 2rem;
}
.divname {
  grid-area: nname;
}

.divdate {
  grid-area: date;
}

.acct {
  grid-area: acct;
}

.divbal {
  grid-area: divbal;
}

.submitd {
  grid-area: submitd;
  color: white;
  justify-self: flex-end;
  background-color: $secondary-color;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.4rem;
  font-size: 18px;

  &:hover {
    opacity: 0.9;
  }
}

.scanBtn {
  border-radius: 2.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 0;
  background-color: $secondary-color;
  color: white;

  &:hover {
    opacity: 0.9;
  }
}

.scanQrContainer {
  margin-left: auto;
  padding: 0 2rem;

  i {
    margin-right: 0.5rem;
  }
}
