.account-list-title {
  letter-spacing: 1px;
  font-size: 3.4rem;
}

.balance-container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  > h2 {
    letter-spacing: 0.08rem;
  }
}

.search-container {
  margin: 0 auto;
  & + div {
    overflow-y: auto;
    height: 800px;
  }

  label {
    font-size: 1.5rem;
  }

  #entry {
    padding: 0 0 0 0.5rem;
    text-align: right;
    cursor: pointer;
  }
}

.balance-table {
  border-collapse: collapse;
  font-size: 2rem;
  width: 100%;
  text-align: center;

  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  th,
  td {
    padding: 8px 16px;
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.action-button {
  background-color: #4caf50;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  padding: 0.5em 0.6em;
  font-size: 1.8rem;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

#add-account {
  border-radius: 2.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: solid gray 1px;

  &:hover {
    background-color: rgba(29, 27, 27, 0.05);
  }
}
