.balanceTable {
  height: min-content;
  position: relative;
  top: 5vh;
  border-collapse: collapse;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  font-size: 2rem;
  margin: auto;

  tbody {
    overflow-y: scroll;

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #04aa6d;
      color: white;
    }
    tr:hover {
      background-color: #b0ebd5;
      cursor: pointer;
    }
  }
}
